# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\compiler\jython_Compiler\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
